[Unit]
Description=Extended network configuration with netconf
After=network.target
Before=lxc.service lxc-net.service libvirtd.service
ConditionFileIsExecutable=@dest@/netctl/bin/netconf

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=@dest@/netctl/bin/netconf start
ExecStop=@dest@/netctl/bin/netconf stop
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=basic.target
