[Unit]
Description=Extended network configuration with iproute2 (pre)
After=network-pre.target
Before=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=@target@/etc/init.d/netconf-pre start
ExecStop=@target@/etc/init.d/netconf-pre stop

[Install]
WantedBy=multi-user.target
